* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* settings layout */

.container {
  width: 80%;
  margin:20px auto;
}


header {
  height: 100px;
  background-color:purple;
  margin-bottom: 20px;
}

.jamboo {
    height: 400px;
    background-color: blue;
    margin-bottom:20px;
  }

footer {
  height: 50px;
  background-color: red;
  margin-top: 10px;
}

.clearflix::after {
  content:"";
  display: table;
  clear: both;
}

.sideleft {
  width: 25%;
  float: left;
}
.principal{
  width: 50%;
  float: left;
}
.sideright {
  width: 25%;
  float: left;
}


/* /settings layout */

/* debug */
.debug {
  background-color: yellowgreen;
  height:500px
}

.debug .sideleft {
  border: 10px solid blue;
  height: 400px;
  
}

.debug .principal {
  height: 400px;
  border: 10px solid blue;
}

.debug .sideright {
  height: 400px;
  border: 10px solid blue;
}